<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="/static/_cdn/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/static/_cdn/css/emerald.css" />

<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="/static/_cdn/materialize/icon.css">

<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

<script src="/static/_cdn/js/jquery.js"></script>
<script src="/static/_cdn/js/knockout.js"></script>
<script src="/static/_cdn/js/emerald.js"></script>
<script src="/static/_cdn/materialize/js/materialize.js"></script>

<script src="/static/js/grand.js"></script>
